# account options
EMAIL=

# manage certificates options
CERT_NAME=
DOMAINS=
PREFERRED_CHALLENGES=
ISSUANCE_TIMEOUT=
MAX_LOG_BACKUPS=
FORCE_RENEWAL=
QUIET=

# authenticator options
AUTHENTICATOR=standalone

# standalone authenticator options
HTTP01_ADDRESS=
HTTP01_PORT=

# webroot authenticator options
WEBROOT_PATH=

# dns authenticator options
DNS_AUTHENTICATOR_CREDENTIALS=
DNS_PROPAGATION_SECONDS=
DNS_PLUGIN_FLAGS=

# test and debug options
STAGING=
VERBOSE=
DEBUG=

# security options
RSA_KEY_SIZE=
KEY_TYPE=
ELLIPTIC_CURVE=

# path options
SERVER=

# renew options
PRE_HOOK_CMD=
POST_HOOK_CMD=
DEPLOY_HOOK_CMD=

# custom options
CERTBOT_CERTONLY_FLAGS=
CERTBOT_RENEW_FLAGS=
DNS_PLUGINS=
RUN_ONCE=
CRON=0 0,12 * * *
ENABLE_MULTI_CERTIFICATES=
MULTI_CERTIFICATES_INI_FILE=/etc/certbot/multi-certificates.ini
